.navigation {
  width: 100%;
  position: fixed;
  transition: 0.3s;
  position: fixed;
  color: #eee;
  font-size: 1.3em;
  z-index: 10;
}

.menus {
  transition: 0.6s;
}

.show-title {
  transform: translateY(-50%);
  color: #4c4948;
  border-bottom: 1px solid #e3e8f7;
}

.white-bg {
  background: #ffffff;
}
